@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Muhamad Igbaria: <a href="mailto:muhamadig.ac@gmail.com">muhamadig.ac@gmail.com</a></h4>
<h4>Maroun Mouallem: <a href="mailto:maroun.mouallem@gmail.com">maroun.mouallem@gmail.com</a></h4>