@{
    ViewBag.Title = "S-Grades Home Page";
}

<div class="jumbotron">
    <h3>WELCOME</h3>
    <h1>S-Grades </h1>
    <p class="lead">Manage Your students grades.</p>
    <hr />
    
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Getting Started &raquo;</a> <text>    or <a href="/Account/Login">Log in</a> to your account</text></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>For Lecturers</h2>
        <h4>Manage your students grades easly</h4>
        <p>
            <ul>
                <li>Manage and add your own students details.</li>
                <li>Manage and Add your own Courses and assignments.</li>
                <li>Submit students assignments grades. </li>
            </ul>

        </p>
    </div>
    <div class="col-md-6">
        <h2>For Students</h2>
        <h4>View your courses and assignments grades</h4>
        <p>
            <ul>
                <li>View each course you enrolled to by your lecturer.</li>
                <li>View your courses assignments grades.  </li>
            </ul>
        </p>
    </div>
    
</div>
