@{
    ViewBag.Title = "S-Grades Home Page";
}

<div class="jumbotron">
    <h1>S-Grades </h1>
    <p class="lead">Manage Your students grades.</p>
    <h4>In order to manage your students grades you have to sign up as a lecturer , 
        if you are student and you want to view your grades only sign up as student.</h4>
    <div><br /></div>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Getting Started &raquo;</a></p>
</div>
