@model int
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="courseName"></h2>
<hr />
<div class="btn-toolbar" role="toolbar">
    <button type="button" class="btn btn-primary" id="enroll-btn">Enroll STUDENTS</button>
    <button type="button" class="btn btn-primary" id="assignments-btn">Add New Assignment</button>
</div>

<hr />
<div class="btn-group btn-block" data-toggle="buttons">
    <label class="btn btn-info active">
        <input type="radio" name="options" id="allOption" autocomplete="on" checked> Show All
    </label>
    <label class="btn btn-info">
        <input type="radio" name="options" id="assignmentsOption" autocomplete="on"> Show Course Assignments Only
    </label>
    <label class="btn btn-info">
        <input type="radio" name="options" id="studentsOption" autocomplete="on"> Show Course Students Only
    </label>
</div>
<div><br></div>

<div id="assignments">
    
    <h3>The Course Assignments</h3>
    <h4>Click the assignment name to manage students grades.</h4>
    <br />
    <table id="assignmentsTable" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Assignment Name</th>
                <th>Type</th>
                <th>Edit\Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <hr />
</div>


<div id="students">
    <h3>The Course Students</h3>

    <br />    
    <table id="studentsTable" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var cId=@Model;
            var vm = {};
            $.ajax({
                url: "/api/courses/" + cId,
                method: "get",
                success: function (course, status, xhr) {
                    vm.id = course.id;
                    vm.name = course.name;
                    vm.year = course.year;
                    vm.semester = course.semester;
                    $("#courseName").text(vm.name + " , " + vm.semester + " - " + vm.year);
                },
                async: false
            });

            var students_table = $("#studentsTable").DataTable({

                responsive: true,
                ajax: {
                    url: "/api/CourseEnrolls/" + cId,
                    dataSrc: ""
                },
                columns: [
                    {

                        data: "studentId",
                       
                    },
                    {

                        data: "student.fName",

                    },
                    {

                        data: "student.lName",

                    },
                    {

                        width: "10%",
                        data: "id",
                        render: function (data) {
                            return "<button title='Remove Student From The Course' class='btn-link js-remove' data-student-id=" + data + "><span class='glyphicon glyphicon-remove-circle'></span></button>";
                        }

                    },

                ]

            });

            var assignments_table = $("#assignmentsTable").DataTable({

                responsive: true,
                ajax: {
                    url: "/api/CourseAssignments/" + cId,
                    dataSrc: ""
                },
                columns: [
                    {

                        data: "id",
                        render: function (data, type, assignment) {
                            return "<button title='Assignment Grades' class='btn-link  js-grades' data-assignment-id=" + data + ">" + "<span class='glyphicon glyphicon-stats'></span>" + "     "+assignment.name + "</button>";
                        }
                    },
                    {

                        data: "type",
                    },
                    {

                        width: "10%",
                        data: "id",
                        render: function (data) {
                            return "<button title='Edit Assignment Name' class='btn-link js-edit' data-assignment-id=" + data + "><span class='glyphicon glyphicon-edit'></span></button>" + "   " +
                                "<button title='Delete Assignment' class='btn-link js-delete' data-assignment-id=" + data + "><span class='glyphicon glyphicon-remove-circle'></span></button>";
                        }

                    },

                ]

            });
            $("#enroll-btn").click(function () {
                location = "/courses/enroll/" + cId;
            });

            $("#assignments-btn").click(function () {
                location = "/courses/newAssignment/" + cId;
            });

            $("#assignmentsOption").on("change", function () {
                $("#assignments").show();
                $("#students").hide();

            });

            $("#studentsOption").on("change",function () {
                $("#assignments").hide();
                $("#students").show();

            });
            $("#allOption").on("change", function () {
                $("#assignments").show();
                $("#students").show();

            });



            $("#studentsTable").on("click", ".js-remove", function () {

                var button = $(this);
                bootbox.confirm("Are you sure you want to remove this student from this course?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/CourseEnrolls/" + button.attr("data-student-id"),
                            method: "DELETE",
                            success: function () {
                                students_table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

            });

            $("#assignmentsTable").on("click", ".js-delete", function () {

                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this assignment?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/assignments/" + button.attr("data-assignment-id"),
                            method: "DELETE",
                            success: function () {
                                assignments_table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

            });

            $("#assignmentsTable").on("click", ".js-edit", function () {
                var button = $(this);
                location = "/courses/EditAssignment/" + button.attr("data-assignment-id");
            });

            $("#assignmentsTable").on("click", ".js-grades", function () {
                var button = $(this);
                location = "/courses/Grades/" + button.attr("data-assignment-id");
            });
        });
    </script>
}