@model int
@{
    ViewBag.Title = "Edit Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Assignment</h2>

<hr />
<form id="editAssignment">
    <div class="form-group">
        <label for="assignmentType">Assignment Type</label>
        <select id="assignmentType" name="assignmentType" required class="form-control">
            <option value="HomeWork">HomeWork</option>
            <option value="Laboratory">Laboratory</option>
        </select>
    </div>

    <div class="form-group ">
        <label for="assName">Assignment Name</label>
        <input id="assName" name="assName" required type="text" value="" class="form-control" />
    </div>
    <button class="btn btn-primary" id="edit-assignment-btn">Save</button>
</form>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var aId=@Model;
            var cId;


            $.ajax({
                url: "/api/assignments/" + aId,
                method: "get",
                success: function (assignment, status, xhr) {
                    $("#assignmentType").val(assignment.type);
                    $("#assName").val(assignment.name);
                    cId = assignment.courseId;
                }
            });

            $("#editAssignment").validate({
                submitHandler: function () {

                    var assignment_vm = {};
                    assignment_vm.name = $("#assName").val();
                    assignment_vm.type = $("#assignmentType").val();
                    assignment_vm.courseId = cId;

                    $.ajax({
                        url: "/api/assignments/" + aId,
                        method: "put",
                        data: assignment_vm
                    })
                        .done(function () {
                            toastr.success("The " + assignment_vm.type + " : " + assignment_vm.name + " was successfully Updated.", "Updated");

                            

                            location = "/courses/Details/" + cId;
                        })
                        .fail(function (e, s, message) {


                            toastr.error(message, "Error");
                            
                        });
                    return false;
                }
            });
        });
    </script>
}