@model int
@{
    ViewBag.Title = "Grades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="courseTitle"></h2>
<h4 id="assignmentTitle"></h4>
<hr />

<div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
        
            <table id="grades" class=" table table-bordered table-hover table-striped ">
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        <h5>Please save the changes before moving to another table page or before click finish.</h5>

        <button class="btn btn-primary " id="btn">Save</button>
        <button class="btn btn-primary " id="finish">FINISH</button>

    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var aId=@Model;
            var assignment_vm = {};
            var course_vm = {};
            $.ajax({
                url: "/api/assignments/" + aId,
                method: "get",
                success: function (assignment, status, xhr) {
                    assignment_vm.id = assignment.id;
                    assignment_vm.name = assignment.name;
                    assignment_vm.type = assignment.type;
                    assignment_vm.courseId = assignment.courseId;
                },
                async: false
            });

            $.ajax({
                url: "/api/courses/" + assignment_vm.courseId,
                method: "get",
                success: function (course, status, xhr) {
                    course_vm.id = course.id;
                    course_vm.name = course.name;
                    course_vm.year = course.year;
                    course_vm.semester = course.semester;
                },
                async: false
            });

            $("#courseTitle").text(course_vm.name + " , " + course_vm.semester + " - " + course_vm.year);
            $("#assignmentTitle").text("Assignment Grades of " + assignment_vm.type + " : " + assignment_vm.name);


            var table = $("#grades").DataTable({

                responsive: true,
                ajax: {
                    url: "/api/Grades/" + aId,
                    dataSrc: ""
                },
                columns: [
                    {
                        
                        data: "studentId",

                    },
                    {
                        
                        data: "studentId",
                        render: function (data, type, grade) {
                            if (grade.assignmentGrade == null)
                                return "<input id='gradeFor" + data + "' name='gradeFor" + data + "' ng-model='gradeFor" + data + "' type='number' min='0' max='100' value='' class='form-control ' my-directive></input>";

                            return "<input id='gradeFor" + data + "' name='gradeFor" + data + "' ng-model='gradeFor" + data + "' type='number' min='0' max='100' value='" + grade.assignmentGrade + "' class='form-control ' my-directive></input>";
                        }

                    }
                ]

            });

            
            $("#btn").on("click", function () {

               

                var vm_arr = {
                    grades:[]
                };
                $('#grades > tbody  > tr').each(function (i, el) {
                    var vm = {};
                    var $tds = $(this).find('td'),
                        studentId = $tds.eq(0).text(),
                        studentGrade = $tds.eq(1).find("input").val();
                    vm.studentId = studentId;
                    vm.assignmentId = assignment_vm.id;
                    if (studentGrade == "") vm.assignmentGrade = null;
                    else vm.assignmentGrade = parseInt(studentGrade);

                    
                    vm_arr.grades.push(vm);
                    
                });
                console.log(vm_arr);
                $.ajax({
                        url: "/api/grades",
                        method: "put",
                        data: vm_arr
                    })
                    .done(function () {
                        toastr.success("Grades successfully saved.", "Saved");

                    })
                    .fail(function (e, s, message) {


                         toastr.error(message, "Error");
                    });
            });

           
            $("#finish").on("click", function () {
                location = "/Courses/Details/" + course_vm.id;
            });

            

        });

    </script>
}