@model IEnumerable<sGrades.Models.Student>
@{
    ViewBag.Title = "My Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Students</h2>
<div><hr /></div>



<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Students")'">ADD STUDENTS</button>
<div><br /></div>

<table id="students" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts{
    <script>

        $(document).ready(function () {
            var table = $("#students").DataTable({

                responsive: true,
                ajax: {
                    url: "/api/students",
                    dataSrc:""
                },
                columns: [
                    {

                        data: "id",
                    },
                    {
                        data:"fName"
                    },
                    {
                        data:"lName"
                    },
                    {
                        width:"10%",
                        data: "id",
                        render: function (data) {
                            return "<button title='Edit Student Name' class='btn-link js-edit' data-student-id=" + data + "><span class='glyphicon glyphicon-edit'></span></button>" +"   "+
                                "<button title='Delete Student' class='btn-link js-delete' data-student-id=" + data + "><span class='glyphicon glyphicon-remove-circle'></span></button>";
                        }
                    },
                    
                ]

            });

            $("#students").on("click", ".js-edit", function () {
                var button = $(this);
                location = "/students/edit/" + button.attr("data-student-id");
            });


            $("#students").on("click", ".js-delete",function () {

                var button = $(this);
                bootbox.confirm("Are you sure you want delete this student?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/students/" + button.attr("data-student-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

            });
        });
    </script>

        
}
